
body{
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color:#003366;
       }
body {
    background-color: lightblue;
    
}

h1 {
	font-size: 1.9em;
	text-align:center;
  border-style: solid;
  border-color: cyan
     }
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: cyan
}
th, td {
    padding: 35px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}



